/* common css */

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.8;

    font-family: "A-OTF Gothic MB101 Pro";
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.flex {
    display: flex;
}

.vertical-align {
    align-items: center;
}

main {
    width: 100%;
}

.font1 {
    font-size: 20px;
}

.font2 {
    font-size: 16px;
}

textarea {
    outline: solid 1px #A8CD8F;
}

.container {
    max-width: 1720px;
    width: 100%;
    margin-inline: auto;
}

p {
    font-size: 20px;
    font-family: "A-OTF Gothic MB101 Pro";
    margin: 0;
}

/* header section style start */
.store-info {
    margin: 20px 0;
}

.order-screen {
    background-image: linear-gradient(to bottom, #FED92B, #C1A417);
}

.order-screen p {
    margin-left: 26px;
}

/* header section style end */


/* main section style start */

.origin-info {
    display: flex;
    justify-content: end;
    margin-top: 25px;
}

.origin-info p {
    border-bottom: solid 1px #959595;
}

.changed-info {
    display: flex;
    justify-content: end;
}

.changed-info p {
    color: #959595;
}

.order-input {
    margin-top: 20px;
    width: 550px;
    margin-inline: auto;
    text-align: right;
}

.input-style {
    text-align: center;
    width: 350px;
    height: 35px;
    margin-bottom: 10px;
    margin-left: 42px;
    border: solid 1px #A8CD8F;
    outline: solid 1px #A8CD8F;
    font-size: 20px;
}

.input-style:focus {
    border: solid 1px #A8CD8F;
    border: none;
}

.add-handover-padding-right {
    padding-right: 20px;
}

.order-memo {
    display: inline-flex;
    align-items: center;
}

.order-memo button {
    width: 200px;
}

.add-memo-padding-right {
    padding-right: 28%;
    color: #9C9D9E;
}

textarea {
    width: 350px;
    margin-left: 42px;
    border: solid 1px #A8CD8F;
    padding: 10px 5px 5px 10px;
}

.display-info {
    margin-top: 20px;
}

.display-info .container div {
    display: flex;
}

.display-info .container div p:first-child {
    width: 44%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-right: 42px;
}

.manufacture-name,
.product-name,
.standard {
    color: #2E75B6;
}

.register-button {
    width: 100%;
    padding-top: 50px;
    display: flex;
}

.register-button button {
    width: 280px;
    height: 70px;
    font-size: 28px;
    color: #ffffff;
    border-radius: 21px;
    margin-inline: auto;
    background-image: linear-gradient(to right, #70AD47, #397D0D);
    border: none;

}


/* main section style end */


/* ##########   style for order-history   #############*/

/* main section style start */

/* section tools */
section.tools .container .date-type {
    display: flex;
}

section.tools .container .date-type div {
    margin-right: 30px;
}

section.tools .container .period {
    width: 30%;
    justify-content: space-between;
    margin-right: 68px;
}

section.tools .container .period .period-input-style {
    width: 176px;
    height: 30px;
    text-align: center;
    outline: solid 1px #A8CD8F;
    border: solid 1px #A8CD8F;
}

section.tools .container .display-button {
    width: 91px;
    height: 53px;
    margin-right: 135px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    background-image: linear-gradient(to right, #2F75B5, #184F81);
}

section.tools .container .QRcode-search {
    width: 387px;
    justify-content: space-between;
    margin-right: 80px;
}

section.tools .container .QRcode-search .input-QRcode-style {
    width: 250px;
    height: 30px;
    border: solid 1px #A8CD8F;
    text-align: center;
    outline: solid 1px #A8CD8F;
}

section.tools .container .search-button {
    width: 91px;
    height: 53px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    background-image: linear-gradient(to right, #2F75B5, #184F81);
}

.add-style {
    padding: 20px 20px;
}

/* section table */
.column-1 {
    width: 259px;
    border: solid 1px black;
    text-align: center;
}

.column-2 {
    width: 520px;
    text-align: center;
    border: solid 1px black;
    border-left: none;
}

.column-3 {
    width: 100px;
    text-align: center;
    border: solid 1px black;
    border-left: none;
}

.column-4 {
    width: 100px;
    text-align: center;
    border: solid 1px black;
    border-left: none;
}

.column-5 {
    width: 100px;
    text-align: center;
    border: solid 1px black;
    border-left: none;
}

.column-6 {
    width: 100px;
    text-align: center;
    border: solid 1px black;
    border-left: none;
}

.column-7 {
    width: 200px;
    text-align: center;
    border: solid 1px black;
    border-left: none;
}

.column-8 {
    width: 340px;
    text-align: center;
    border: solid 1px black;
    border-left: none;
}

.add-border {
    border-top: none;
    border-bottom: none;
    padding: 2px 0;
}

.list-comment {
    height: 30px;
    background-color: #DEF3D6;
}

.list-comment p {
    padding: 0 15px;
    font-family: "A-OTF Gothic MB101 Pro";
    font-size: 16px;
}

.triplets-button {
    width: 88px;
    height: 40px;
    margin-inline: 2%;
    border-radius: 10px;
    border: solid 1px #707070;
}

.list-correction-button {
    background-color: #4A9F2C;
    color: #ffffff;
}

.list-remove-button {
    background-color: #F2CF27;
}

.list-delivery-button {
    background-color: #F51C48;
    color: #ffffff;
}

/* main section style end */